html {
	height: 100%;
}
body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}
body.centered_page {
	background-color: #aaa;
	margin: 20px;
}
div.main_pane {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	background-color: white;
	border: 1px solid #666;
	padding: 10px;
}
a {
	text-decoration: none;
	color: #417394;
}
a:hover {
	color: red;
}
a:visited {
	color: #417394;
}

